<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bookstore</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<div class="nav">
  <a class="btn" th:href="@{/home}" style="text-decoration: none;">Home</a>
  <a class="btn" th:href="@{/contact}" style="color: white; text-decoration: none;">Contact</a>
  <a class="btn" href="/addBookForm" style="text-decoration: none;" >Add a New Book</a>
  <div class="btn">About</div>
  <div class="btn" th:href="@{/search}">
    <a th:href="@{/search}" style="color: white; text-decoration: none;">Search book</a>
  </div>
  <div class="btn">Log out</div>
</div>

<div class="book-list">
  <h2>Books</h2>
  <div class="books-container">
    <div th:each="book : ${books}" class="book-item">
      <div class="book-title" th:text="${book.title}"></div>
      <div class="book-author" th:text="${book.author}"></div>
      <div class="book-genre" th:text="${book.genre}"></div>
    </div>
  </div>
</div>
</body>
</html>
